body{
  background-color: #FFFAD7;
    overflow-y: scroll;
}
.top{
  width : 104%;
  height : 200px;
  background-color:brown;
  position: relative;
  bottom : 22px;
  right : 10px;
  margin-right: 0px;
  font color: MistyRose;
}
img{
  position: relative;
  bottom: 120px;
}
